
<div class="container">
  <h1>All spaces here</h1>
  <h3>list des spaces</h3>
  <div class="row">
    <% @spaces.each do |space| %>
      <%= link_to space_path(space) do %>
        <div class="col-xs-12 col-sm-4">
          <h2>Espace à <%= space.city.capitalize %> </h2>
          <p> qui appartient à
            <% if space.user.first_name %>
              <%= space.user.first_name.capitalize %>
            <% else %>
              <%= space.user.email %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'Create a new space', new_space_path, class: "btn btn-success" %>
</div>








