
<div class="main-container">
  <div class="card-container">
    <h1>Les espaces disponibles</h1>
    <div class="row">
      <% @spaces.each do |space| %>
        <%= link_to space_path(space) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card"">
              <div class="card-category"><h2><%= space.city.capitalize %></h2></div>
              <div class="card-description">
                <p><% if space.user.first_name %>
                    <%= space.user.first_name.capitalize %>
                  <% else %>
                    <%= space.user.email %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'Create a new space', new_space_path, class: "btn btn-success" %>
  </div>

  <div id="map"></div>

</div>

<script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>







