
<div class="main-container">
  <div class="card-container">
    <h1>Les espaces disponibles</h1>
    <div class="row">
      <% @spaces.each do |space| %>
        <%= link_to space_path(space) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path space.photo, height: 300, width: 400 %>')">
              <div class="card-category"><h2><%= space.city.capitalize %></h2></div>
              <div class="card-description">
                <p><% if space.user.first_name %>
                    <%= space.user.first_name.capitalize %>
                  <% else %>
                    <%= space.user.email %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div
  id="map"
  style="width: 100%"
  data-markers="<%= @markers.to_json %>"
  ></div>








