<div class="container">
  <h1>L'espace de
    <% if @space.user.first_name %>
      <%= @space.user.first_name.capitalize %>
    <% else %>
      <%= @space.user.email %>
    <% end %>
  </h1>
  <p><%= "This space is located in #{@space.city.capitalize}" %></p>

  <%= link_to 'Back to index', spaces_path %>
  <%= link_to 'Edit your space', edit_space_path %>
  <%= link_to 'Delete your space', space_path, method: :delete, data: {confirm: "Vous êtes sûr de vouloir supprimer cet espace ?"} %>

</div>




