<div class="container">

  <h1>L'espace de
    <% if @space.user.first_name %>
      <%= @space.user.first_name.capitalize %>
    <% else %>
      <%= @space.user.email %>
    <% end %>
  </h1>
  <h5>
    <% if policy(@space).edit?%>
      <%= link_to edit_space_path do %>
        Edit <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(@space).destroy?%>
      <%= link_to space_path, method: :delete, data: {confirm: "Vous êtes sûr de vouloir supprimer cet espace ?"} do %>
        Delete <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </h5>
  <p><%= "This space is located at #{@space.address} in #{@space.city.capitalize}" %></p>

  <%= link_to 'Book this place !', new_space_reservation_path(@space), class: "btn btn-info"  %>
  <%= link_to 'Back to index', spaces_path, class: "btn btn-default" %>

</div>




