
<div class="home-wrapper">
  <div class="home-container text-center">
    <div class="main-infos">

      <div class="main-title">
        <h1>School Places</h1>

        <h3>Profitez des locaux non utilisés par les écoles !</h3>
        <p>Où et quand souhaitez-vous louer ?</p>
        <%= form_tag(spaces_path, method: "get") do %>
          <%= date_field_tag(:start_date, "#{params[:start_date]}", placeholder: '11/06/2018', class: "datepicker", id: "reservation_start_date") %>
          <%= date_field_tag(:start_date, "#{params[:start_date]}", placeholder: '11/06/2018', class: "datepicker", id: "reservation_end_date")  %>
          <%= text_field_tag(:address, nil, placeholder: 'Paris, Marseille...') %>
          <%= submit_tag("Search", class: 'btn btn-primary')%>
        <% end %>

      </div>
    </div>
  </div>
</div>





